/*
* Developed by Michael Chaplin
* As a part of the Odin Project Curriculumn Calculator project
* Created in my spare time while working some 60 hour weeks
* May 10 through May 24, 2020
*/

body, html {
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calc-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: #646568;
    border: 1px solid #646568;
    border-radius: 10px;
}
#calc-display-container {
    height: 100px;
    width: 95%;
    background: #E0E0E0;
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 0 10px 0 0;
    margin: 0 0 20px 0;
}
#calc-display {
    font-size: 2.5rem;
    color: #242723;
    flex: 1 1 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}
#calc-display-history {
    font-size: 1.5rem;
    color: #565758;
    flex: 1 1 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}
#calc-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.calc-btn {
    background: #E0E0E0;
    border: 1px solid #646568;
    border-radius: 10%;
    color: black;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    padding: 0 0 0 0;
    margin: 2px 2px 2px 2px;
    font-size: 1.75rem;
}
.calc-btn:hover {
    cursor: default;
    opacity: 0.8;
}
.calc-btn-operator {
    background: #A3A6A1;
}
#func-equals {
    background: #AE52D4;
    border: 1px solid #646568;
    border-radius: 5%;
    color: black;
    height: 80px;
    width: 80px;
    flex: 2 1 auto;
    text-align: center;
    padding: 0 0 0 0;
    margin: 2px 2px 2px 2px;
    font-size: 1.75rem;
}
.btn-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}